<div *ngIf="!isEmbedded">
  <div class="row">
    <div class="col-md-2">
      <a class="btn btn-outline-secondary mt-2" routerLink="/payment-method-list">
        <i class="fas fa-arrow-circle-left fa-2x"></i>&nbsp;
      </a>
    </div>
    <div class="col-md-8 text-center" *ngIf="item">
      <h4 class="display-4 text-capitalize">{{item.name}}</h4>
    </div>
  </div>
  <hr/>
  <form *ngIf="itemFg" [formGroup]="itemFg" (ngSubmit)="save()">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>Name <code>*</code></label>
          <input type="text" placeholder="Name" class="form-control"
                 formControlName="name"/>
          <small *ngFor="let em of itemFg.controls.name['errorMessages']"
                 class="form-text text-danger">{{em}}<br/>
          </small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Code <code>*</code></label>
          <input type="text" placeholder="code" class="form-control"
                 formControlName="code"/>
          <small *ngFor="let em of itemFg.controls.code['errorMessages']"
                 class="form-text text-danger">{{em}}<br/>
          </small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Type <code>*</code></label>
          <select class="form-control" formControlName="type">
            <option value="-">&lt;Select Type&gt;</option>
            <option value="absolute">Absolute</option>
            <option value="percentage">Percentage</option>
          </select>
          <small *ngFor="let em of itemFg.controls.type['errorMessages']"
                 class="form-text text-danger">{{em}}<br/>
          </small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Amount <code>*</code></label>
          <input type="text" placeholder="Amount" class="form-control"
                 formControlName="amount"/>
          <small *ngFor="let em of itemFg.controls.amount['errorMessages']"
                 class="form-text text-danger">{{em}}<br/>
          </small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Settlement Period <code>*</code></label>
          <input type="text" placeholder="Settlement Perion" class="form-control"
                 formControlName="settlementPeriod"/>
          <small *ngFor="let em of itemFg.controls.settlementPeriod['errorMessages']"
                 class="form-text text-danger">{{em}}<br/>
          </small>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="mb-2 mr-5">Status <code>*</code></label><br/>
          <div class="pretty p-default p-thick p-pulse mt-2">
            <input type="radio" formControlName="status" value="active"/>
            <div class="state p-success">
              <i class="icon mdi mdi-check"></i>
              <label class="text-success mr-3">Active</label>
            </div>
          </div>
          <div class="pretty p-default p-thick p-pulse mt-2">
            <input type="radio" formControlName="status" value="inactive"/>
            <div class="state p-warning-o">
              <label class="text-warning mr-3">In Active</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary float-right">
        <i class="fas fa-save mr-2"></i>SAVE </button>
    </div>
  </form>
  <br/><br/>
  <app-json-viewer [content]="item" *ngIf="env.mode === 'dev'"></app-json-viewer>
</div>

<div *ngIf="isEmbedded">
  <form *ngIf="itemFg" [formGroup]="itemFg" (ngSubmit)="save()">
    <div class="row">
      <div class="col-md-3">
        <h4 class="text-capitalize mt-2">{{(itemId+1)}}. {{item.name}}</h4>
      </div>
      <div class="col-md-6">
        <div class="text-center text-danger" *ngIf="message">{{message}}</div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-4"><label class="mt-1">Code <code>*</code></label></div>
          <div class="col-md-8">
            <select class="form-control" formControlName="code" (change)="onCode()">
              <option value="null">&lt;Select Code&gt;</option>
              <option *ngFor="let o of paymentSettings" [value]="o.code">{{o.name}}</option>
            </select>
          </div>
        </div>
        <small *ngFor="let em of itemFg.controls.code['errorMessages']"
               class="form-text text-danger">{{em}}<br/>
        </small>
        <!--
        <div class="form-group">
          <label>Code <code>*</code></label>
          <select class="form-control" formControlName="code">
            <option value="-">&lt;Select Code&gt;</option>
            <option *ngFor="let o of paymentMethods" [value]="o.code">{{o.name}}</option>
          </select>
          <small *ngFor="let em of itemFg.controls.code['errorMessages']"
                 class="form-text text-danger">{{em}}<br/>
          </small>
        </div>
        -->
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Type <code>*</code></label>
          <select class="form-control" formControlName="type">
            <option value="-">&lt;Select Type&gt;</option>
            <option value="absolute">Absolute</option>
            <option value="percentage">Percentage</option>
          </select>
          <small *ngFor="let em of itemFg.controls.type['errorMessages']"
                 class="form-text text-danger">{{em}}<br/>
          </small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Amount <code>*</code></label>
          <input type="text" placeholder="Amount" class="form-control"
                 formControlName="amount"/>
          <small *ngFor="let em of itemFg.controls.amount['errorMessages']"
                 class="form-text text-danger">{{em}}<br/>
          </small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label>Settlement Period <code>*</code></label>
          <input type="text" placeholder="Settlement Perion" class="form-control"
                 formControlName="settlementPeriod"/>
          <small *ngFor="let em of itemFg.controls.settlementPeriod['errorMessages']"
                 class="form-text text-danger">{{em}}<br/>
          </small>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label class="mb-2 mr-5">Status <code>*</code></label><br/>
          <div class="pretty p-default p-thick p-pulse mt-2">
            <input type="radio" formControlName="status" value="active"/>
            <div class="state p-success">
              <i class="icon mdi mdi-check"></i>
              <label class="text-success mr-3">Active</label>
            </div>
          </div>
          <div class="pretty p-default p-thick p-pulse mt-2">
            <input type="radio" formControlName="status" value="inactive"/>
            <div class="state p-warning-o">
              <label class="text-warning mr-3">In Active</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-danger float-left" (click)="remove()">
          <i class="fas fa-trash"></i></button>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary float-right">
          <i class="fas fa-save mr-2"></i>SAVE </button>
      </div>
    </div>
  </form>
</div>

