@import '../../global';

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #f3ebff;
}

.brand-big {
  width: 250px;
  background: $primary;
  color: $white;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
}

.brand-small {
  width: 60px;
  background: $primary;
  color: $white;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
}
