<div class="row">
  <div class="col-md-2">
    <a class="btn btn-outline-secondary mt-2" routerLink="/transaction-list">
      <i class="fas fa-arrow-circle-left fa-2x"></i>&nbsp;
    </a>
  </div>
  <div class="col-md-8 text-center">
    <h4 class="display-4 text-capitalize" *ngIf="item">{{item.orderNo}}</h4>
  </div>
  <div class="col-md-2 text-right">
    <a class="btn btn-outline-primary mt-2" routerLink="/transaction-list/{{itemId}}/edit">
      <i class="fas fa-edit fa-2x"></i>
    </a>
  </div>
</div>
<hr/>

<div *ngIf="item">

  <div class="row">
    <div class="col">
      <div>
        <h4 class="display-5 text-warning">General Info</h4>
      </div>
      <hr/>
      <div class="row mb-2">
        <div class="col-md-4 mb-1">
          <strong>Amount</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4>{{item.amount | number:'1.2-2'}}</h4>
        </div>
        <div class="col-md-4 mb-1">
          <strong>Status</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4 class="text-uppercase {{item.statusClazz}}">{{item.status}}</h4>
        </div>
        <div class="col-md-4 mb-1">
          <strong>Type</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4 class="text-uppercase">{{item.type}}</h4>
        </div>
        <div class="col-md-4 mb-1">
          <strong>Updated Time</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4>{{item.updatedTime | date: 'medium'}}</h4>
        </div>
        <div class="col-md-4 mb-1">
          <strong>Created Time</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4>{{item.createdTime | date: 'medium'}}</h4>
        </div>
        <div class="col-md-4 mb-1">
          <strong>Merchant Name</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4 class="text-capitalize">{{item.merchant?.name}}</h4>
        </div>
        <!--
        <div class="col-md-4 mb-1">
          <strong>Default User Name</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4 class="text-capitalize">{{item.merchant?.user?.name}}</h4>
        </div>
        -->
      </div>
    </div>
    <div class="col">
      <div>
        <h4 class="display-5 text-warning">Receipt Info</h4>
      </div>
      <hr/>
      <div class="row mb-2">
        <div class="col-md-4 mb-1">
          <strong>Order Type</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4 class="text-capitalize">{{item.tranReceipt?.orderType}}</h4>
        </div>
        <div class="col-md-4 mb-1">
          <strong>Total Paid</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4>{{item.tranReceipt?.totalPaid | number:'1.2-2'}}</h4>
        </div>
        <div class="col-md-4 mb-1">
          <strong>Currency</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4 class="text-capitalize">{{item.tranReceipt?.tranCurrency}}</h4>
        </div>
        <div class="col-md-4 mb-1">
          <strong>Transaction Time</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4>{{item.tranReceipt?.tranTime | date :'medium'}}</h4>
        </div>
        <div class="col-md-4 mb-1">
          <strong>Status</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4 class="text-capitalize">{{item.tranReceipt?.status}}</h4>
        </div>
        <div class="col-md-4 mb-1">
          <strong>Status Description</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4 class="text-capitalize">{{item.tranReceipt?.statusDescription}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col">
        <div>
          <h4 class="display-5 text-warning">Customer Info</h4>
        </div>
        <hr/>
        <div class="row mb-2">
          <div class="col-md-4 mb-1">
            <strong>Customer Name</strong>
          </div>
          <div class="col-md-8 mb-1">
            <h4 class="text-capitalize">{{item.tranDetail.customerName}}</h4>
          </div>
          <div class="col-md-4 mb-1">
            <strong>Customer Mobile</strong>
          </div>
          <div class="col-md-8 mb-1">
            <h4>{{item.tranDetail.customerMobile}}</h4>
          </div>
          <div class="col-md-4 mb-1">
            <strong>Customer Email</strong>
          </div>
          <div class="col-md-8 mb-1">
            <h4>{{item.tranDetail.customerEmail}}</h4>
          </div>
          <div class="col-md-4 mb-1">
            <strong>Reference Text</strong>
          </div>
          <div class="col-md-8 mb-1">
            <h4>{{item.tranDetail.referenceText}}</h4>
          </div>
          <div class="col-md-4 mb-1">
            <strong>Description</strong>
          </div>
          <div class="col-md-8 mb-1">
            <h4>{{item.tranDetail.description}}</h4>
          </div>
        </div>
      </div>
      <div class="col">
        <div>
          <h4 class="display-5 text-warning text-capitalize">
            {{item.tranDetail.address.type}} Address
          </h4>
        </div>
        <hr/>
        <div>
          <h4 class="text-capitalize">
            <span>{{item.tranDetail.address.lineOne}}<br/></span>
            <span>{{item.tranDetail.address.lineOne}}<br/></span>
            <span>{{item.tranDetail.address.cityCode}}<br/></span>
            <span>{{item.tranDetail.address.stateCode}}<br/></span>
            <span>{{item.tranDetail.address.countryCode}}<br/></span>
            <span>{{item.tranDetail.address.postalCode}}<br/></span>
          </h4>
        </div>
      </div>
    </div>
  </div>

  <app-json-viewer [content]="item"></app-json-viewer>

</div>
