<form [formGroup]="itemFg" (ngSubmit)="save()">

<div class="modal-header">
  <h4 class="modal-title float-left text-capitalize">{{viewName}}</h4>
  <button type="button" class="close pull-right" aria-label="Close"
          (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="alert alert-danger" *ngIf="message">{{message}}</div>
  <div class="form-group">
    <label>New Password <code>*</code></label>
    <input type="password" placeholder="New Password" class="form-control"
           formControlName="newPassword" maxlength="10" autocomplete="off"/>
    <small class="form-text text-muted">
      Minimum 5 characters, one upper case, one lower case and one special character
    </small>
    <small *ngFor="let em of itemFg.controls.newPassword['errorMessages']"
           class="form-text text-danger">{{em}}<br/>
    </small>
  </div>
  <div class="form-group">
    <label>Confirm Password <code>*</code></label>
    <input type="password" placeholder="Confirm Password" class="form-control"
           formControlName="confirmPassword" autocomplete="off"/>
    <small *ngFor="let em of itemFg.controls.confirmPassword['errorMessages']"
           class="form-text text-danger">This should match with New Password<br/>
    </small>
  </div>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary">CHANGE</button>
</div>

</form>
