<form #form0 = "ngForm" (ngSubmit) = "search()">
  <div class="card">
    <div class="card-body">
      <div class="form-row mt-2">
        <div class="form-group col-md-5">
          <div class="mt-2">
            <span>Search By</span>
            &nbsp;&nbsp;&nbsp;
            <div class="pretty p-default p-thick p-pulse mt-2">
              <input type="radio" name="by" value="name" [(ngModel)]="searchModel.by"/>
              <div class="state p-primary-o">
                <label class="text-primary mr-3">User Name</label>
              </div>
            </div>
            <div class="pretty p-default p-thick p-pulse mt-2">
              <input type="radio" name="by" value="idno" [(ngModel)]="searchModel.by"/>
              <div class="state p-primary-o">
                <label class="text-primary mr-3">Id Number</label>
              </div>
            </div>
        </div>
        </div>
        <div class="form-group col-md-4" [hidden]="searchModel.by !== 'name'">
          <!--
          <label>User Name</label>
          -->
          <input type="text" class="form-control" placeholder="User Name"
                 [(ngModel)]="searchModel.name" name="name"/>
        </div>
        <div class="form-group col-md-4" [hidden]="searchModel.by !== 'idno'">
          <!--
          <label>Id No</label>
          -->
          <input type="text" class="form-control" placeholder="Id Number"
                 [(ngModel)]="searchModel.idno" name="idno"/>
        </div>
        <div class="form-group col-md-3 text-center">
          <button type="submit" class="btn btn-info">
            Search
          </button>
          &nbsp;&nbsp;&nbsp;
          <button type="button" class="btn btn-outline-info"
                  (click)="resetForm()">
            Reset&nbsp;&nbsp;
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<br/>
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-10">
        <strong>Total : <span class="text-info">{{items.length}}</span></strong>
      </div>
      <div class="col-md-2 text-right">
        <button type="button" class="btn btn-outline-secondary btn-sm pull-right"
                (click)="refresh(false)">
          <i class="fas fa-sync"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body" infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="50"
       (scrolled)="onScrollDown()" *ngIf="items">
    <table class="table table-sm xtable-bordered table-hover">
      <thead>
      <tr>
        <th scope="col" class="text-center" width="40">#</th>
        <th scope="col">Name</th>
        <th scope="col" width="200">Id No</th>
        <th scope="col" width="200">Status</th>
        <th scope="col" width="40">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items; index as i;">
        <td class="text-right">{{i+1}}</td>
        <td>{{item.name}}</td>
        <td>{{item.idNo}}</td>
        <td>
          <span class="text-uppercase {{item.statusClazz}}">{{item.status}}</span>
        </td>
        <td class="text-center">
          <button class="btn btn-link btn-sm" (click)="view(item)">
            <i class="fas fa-eye"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!--
<br/><br/>
<pre>{{items | json}}</pre>
-->
