<div class="row">
  <div class="col-md-2">
    <a class="btn btn-outline-secondary mt-2" routerLink="/user-list">
      <i class="fas fa-arrow-circle-left fa-2x"></i>&nbsp;
    </a>
  </div>
  <div class="col-md-8 text-center">
    <h4 class="display-4 text-capitalize" *ngIf="item">{{item.name}}</h4>
  </div>
  <div class="col-md-2 text-right">
    <a class="btn btn-outline-primary mt-2" routerLink="/user-list/{{itemId}}/edit">
      <i class="fas fa-edit fa-2x"></i>
    </a>
  </div>
</div>
<hr/>

<div *ngIf="item">
  <div class="row">
    <div class="col">
      <div>
        <h4 class="display-5 text-capitalize text-warning">General Info</h4>
      </div>
      <div class="row mb-2">
        <div class="col-md-4 mb-1">
          <strong>Id No.</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4>{{item.idNo}}</h4>
        </div>
        <div class="col-md-4 mb-1">
          <strong>User Id</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4>{{item.userId}}</h4>
        </div>
        <div class="col-md-4 mb-1">
          <strong>Mobile</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4>{{item.mobile}}</h4>
        </div>
        <div class="col-md-4 mb-1">
          <strong>Email</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4>{{item.email}}</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div>
        <h4 class="display-5 text-capitalize text-warning">Bank Info</h4>
      </div>
      <div class="row mb-2">
        <div class="col-md-4 mb-1">
          <strong>Bank Name</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4 class="text-capitalize">{{item.bankName}}</h4>
        </div>
        <div class="col-md-4 mb-1">
          <strong>Account No.</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4>{{item.bankNo}}</h4>
        </div>
      </div>
      <div>
        <h4 class="display-5 text-capitalize text-warning">System Info</h4>
      </div>
      <div class="row mb-2">
        <div class="col-md-4 mb-1">
          <strong>Status</strong>
        </div>
        <div class="col-md-8 mb-1">
          <h4 class="text-uppercase {{item.statusClazz}}">{{item.status}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-2">
      <strong>Documents</strong>
    </div>
    <div class="col-md-10">
        <span *ngFor="let o of item.docs">
          <button type="button" class="btn btn-sm btn-outline-info"
                  (click)="showDoc(o)">{{o.label}}</button>
          &nbsp;&nbsp;&nbsp;
        </span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <strong>Remarks</strong>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Approvel Remarks"
             [(ngModel)]="item.approvalRemarks" name="itemApprovalRemarks"/>
    </div>
    <div class="col-md-4 text-right">
      <button type="button" class="btn btn-danger" *ngIf="item.status === 'active'"
              (click)="makeInActive()"> BLOCK </button>
      <button type="button" class="btn btn-primary" *ngIf="item.status === 'inactive'"
              (click)="makeActive()"> ACTIVATE </button>
      <button type="button" class="btn btn-warning" *ngIf="item.status === 'pending_approval'"
              (click)="makeNeedInfo()"> NEED INFO </button>
      &nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-primary" *ngIf="item.status === 'pending_approval'"
              (click)="makeApprove()"> APPROVE </button>
      &nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-danger" *ngIf="item.status === 'pending_approval'"
              (click)="makeReject()"> REJECT </button>
    </div>
  </div>

  <br/><br/>

  <tabset [justified]="false">
    <tab heading="Owns">
      <br/>
      <div *ngIf="item.merchantOwns.length === 0">
        <br/>
        <div class="text-center">
          <h3 class="text-muted">There is no merchants owned by this user!</h3>
        </div>
        <br/>
      </div>
      <div *ngIf="item.merchantOwns.length > 0">
        <div class="row mb-2">
          <div class="col-md-7">
            <h4 class="display-5 text-warning">
              <span *ngIf="item.merchantOwnId === item.merchantOwn.id">Default</span> Merchant Info
            </h4>
          </div>
          <div class="col-md-2">
            <div class="mt-2"><strong>Select Merchant</strong></div>
          </div>
          <div class="col-md-3">
            <select class="form-control" [(ngModel)]="item.merchantOwnId" name="itemMerchantOwnId"
                    (change)="onMerchantOwnSelection()">
              <option *ngFor="let o of item.merchantOwns" [value]="o.id">{{o.name}}</option>
            </select>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col">
            <div class="row mb-2">
              <div class="col-md-4 mb-1">
                <strong>Merchant Type</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4>{{item.merchantOwn.type}}</h4>
              </div>
              <div class="col-md-4 mb-1">
                <strong>Id Number</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4>{{item.merchantOwn.idNo}}</h4>
              </div>
              <div class="col-md-4 mb-1">
                <strong>Nick Name</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4 class="text-capitalize">{{item.merchantOwn.nickName}}</h4>
              </div>
              <div class="col-md-4 mb-1">
                <strong>Mobile</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4>{{item.merchantOwn.mobile}}</h4>
              </div>
              <div class="col-md-4 mb-1">
                <strong>Email</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4>{{item.merchantOwn.email}}</h4>
              </div>
              <div class="col-md-4 mb-1">
                <strong>Address</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4 class="text-capitalize">{{item.merchantOwn.address}}</h4>
              </div>
            </div>
          </div>
          <div class="col">
            <div>
              <h4 class="display-5 text-capitalize text-warning">Bank Info</h4>
            </div>
            <div class="row mb-2">
              <div class="col-md-4 mb-1">
                <strong>Bank Name</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4 class="text-capitalize">{{item.merchantOwn.bankName}}</h4>
              </div>
              <div class="col-md-4 mb-1">
                <strong>Account No.</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4>{{item.merchantOwn.bankNo}}</h4>
              </div>
            </div>
            <div>
              <h4 class="display-5 text-capitalize text-warning">System Info</h4>
            </div>
            <div class="row mb-2">
              <div class="col-md-4 mb-1">
                <strong>Direct Redirect URL</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4>{{item.merchantOwn.directReturnUrl}}</h4>
              </div>
              <div class="col-md-4 mb-1">
                <strong>Indirect Redirect URL</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4>{{item.merchantOwn.indirectReturnUrl}}</h4>
              </div>
              <div class="col-md-4 mb-1">
                <strong>Status</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4 class="text-uppercase {{item.merchantOwn.statusClazz}}">{{item.merchantOwn.status}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-2">
            <strong>Documents</strong>
          </div>
          <div class="col-md-10">
        <span *ngFor="let o of item.merchantOwn.docs">
          <button type="button" class="btn btn-sm btn-outline-info"
                  (click)="showDoc(o)">{{o.label}}</button>
          &nbsp;&nbsp;&nbsp;
        </span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-2">
            <strong>Remarks</strong>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Approval Remarks"
                   [(ngModel)]="item.merchantOwn.approvalRemarks" name="userApprovalRemarks"/>
          </div>
          <div class="col-md-4 text-right">
            <button type="button" class="btn btn-danger mr-2" *ngIf="item.merchantOwn.status === 'active'"
                    (click)="makeMerchantOwnInActive()">BLOCK </button>
            <button type="button" class="btn btn-primary mr-2" *ngIf="item.merchantOwn.status === 'inactive'"
                    (click)="makeMerchantOwnActive()">ACTIVATE </button>
            <button type="button" class="btn btn-warning mr-2" *ngIf="item.merchantOwn.status === 'pending_approval'"
                    (click)="makeMerchantOwnNeedInfo()">NEED INFo </button>
            &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-primary mr-2" *ngIf="item.merchantOwn.status === 'pending_approval'"
                    (click)="makeMerchantOwnApprove()">APPROVE </button>
            &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger mr-2" *ngIf="item.merchantOwn.status === 'pending_approval'"
                    (click)="makeMerchantOwnReject()">REJECT </button>
          </div>
        </div>
      </div>
      <br/>
    </tab>
    <tab heading="Moderates">
      <br/>
      <div *ngIf="item.merchantModerates.length === 0">
        <br/>
        <div class="text-center">
          <h3 class="text-muted">There is no merchants moderated by this user!</h3>
        </div>
        <br/>
      </div>
      <div *ngIf="item.merchantModerates.length > 0">
        <div class="row mb-2">
          <div class="col-md-7">
            <h4 class="display-5 text-warning">Merchant Info</h4>
          </div>
          <div class="col-md-2">
            <div class="mt-2"><strong>Select Merchant</strong></div>
          </div>
          <div class="col-md-3">
            <select class="form-control" [(ngModel)]="item.merchantModerateId" name="itemMerchantModerateId"
                    (change)="onMerchantModerateSelection()">
              <option *ngFor="let o of item.merchantModerates" [value]="o.id">{{o.name}}</option>
            </select>
          </div>
        </div>
        <hr/>
        <div class="row">
          <div class="col">
            <div class="row mb-2">
              <div class="col-md-4 mb-1">
                <strong>Merchant Type</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4>{{item.merchantModerate.type}}</h4>
              </div>
              <div class="col-md-4 mb-1">
                <strong>Id Number</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4>{{item.merchantModerate.idNo}}</h4>
              </div>
              <div class="col-md-4 mb-1">
                <strong>Nick Name</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4 class="text-capitalize">{{item.merchantModerate.nickName}}</h4>
              </div>
              <div class="col-md-4 mb-1">
                <strong>Mobile</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4>{{item.merchantModerate.mobile}}</h4>
              </div>
              <div class="col-md-4 mb-1">
                <strong>Email</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4>{{item.merchantModerate.email}}</h4>
              </div>
              <div class="col-md-4 mb-1">
                <strong>Address</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4 class="text-capitalize">{{item.merchantModerate.address}}</h4>
              </div>
            </div>
          </div>
          <div class="col">
            <div>
              <h4 class="display-5 text-capitalize text-warning">Bank Info</h4>
            </div>
            <div class="row mb-2">
              <div class="col-md-4 mb-1">
                <strong>Bank Name</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4 class="text-capitalize">{{item.merchantModerate.bankName}}</h4>
              </div>
              <div class="col-md-4 mb-1">
                <strong>Account No.</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4>{{item.merchantModerate.bankNo}}</h4>
              </div>
            </div>
            <div>
              <h4 class="display-5 text-capitalize text-warning">System Info</h4>
            </div>
            <div class="row mb-2">
              <div class="col-md-4 mb-1">
                <strong>Direct Redirect URL</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4>{{item.merchantModerate.directReturnUrl}}</h4>
              </div>
              <div class="col-md-4 mb-1">
                <strong>Indirect Redirect URL</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4>{{item.merchantModerate.indirectReturnUrl}}</h4>
              </div>
              <div class="col-md-4 mb-1">
                <strong>Status</strong>
              </div>
              <div class="col-md-8 mb-1">
                <h4 class="text-uppercase {{item.merchantModerate.statusClazz}}">{{item.merchantModerate.status}}</h4>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-2">
            <strong>Documents</strong>
          </div>
          <div class="col-md-10">
        <span *ngFor="let o of item.merchantModerate.docs">
          <button type="button" class="btn btn-sm btn-outline-info"
                  (click)="showDoc(o)">{{o.label}}</button>
          &nbsp;&nbsp;&nbsp;
        </span>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-2">
            <strong>Remarks</strong>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Approval Remarks"
                   [(ngModel)]="item.merchantModerate.approvalRemarks" name="userApprovalRemarks"/>
          </div>
          <div class="col-md-4 text-right">
            <button type="button" class="btn btn-danger mr-2" *ngIf="item.merchantModerate.status === 'active'"
                    (click)="makeMerchantModerateInActive()">BLOCK </button>
            <button type="button" class="btn btn-primary mr-2" *ngIf="item.merchantModerate.status === 'inactive'"
                    (click)="makeMerchantModerateActive()">ACTIVATE </button>
            <button type="button" class="btn btn-warning mr-2" *ngIf="item.merchantModerate.status === 'pending_approval'"
                    (click)="makeMerchantModerateNeedInfo()">NEED INFo </button>
            &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-primary mr-2" *ngIf="item.merchantModerate.status === 'pending_approval'"
                    (click)="makeMerchantModerateApprove()">APPROVE </button>
            &nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-danger mr-2" *ngIf="item.merchantModerate.status === 'pending_approval'"
                    (click)="makeMerchantModerateReject()">REJECT </button>
          </div>
        </div>
      </div>
      <br/>
    </tab>
  </tabset>

  <app-json-viewer [content]="item" *ngIf="env.mode === 'dev'"></app-json-viewer>

</div>

