<table mat-table [dataSource]="shoppingCart.items" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let item"> {{item.name}} </td>
  </ng-container>

  <ng-container matColumnDef="rate">
    <th class="text-right" mat-header-cell *matHeaderCellDef> Rate </th>
    <td class="text-right" mat-cell *matCellDef="let item"> {{item.rate | number:'1.2-2'}} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th class="text-right" mat-header-cell *matHeaderCellDef> Quantity </th>
    <td class="text-right" mat-cell *matCellDef="let item"> {{item.quantity | number:'1.0'}} </td>
  </ng-container>

  <ng-container matColumnDef="amount">
    <th class="text-right" mat-header-cell *matHeaderCellDef> Amount </th>
    <td class="text-right" mat-cell *matCellDef="let item"> {{item.amount | number:'1.2-2'}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th class="text-center" mat-header-cell *matHeaderCellDef> &nbsp; </th>
    <td class="text-center" mat-cell *matCellDef="let item; let i = index">
      <button mat-button color="primary" (click)="removeFromCart(i)">Remove From Cart</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="dColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: dColumns;"></tr>
</table>
<br/>
<div>
  <strong>Total Amount : </strong> {{shoppingCart.totalAmount | number:'1.2-2'}}
</div>
<br/>
<div>
  <a mat-raised-button color="primary" [routerLink]="'/checkout'">Checkout</a>
</div>
