<div class="row">
  <div class="col-md-10">&nbsp;</div>
  <div class="col-md-2 text-right">
    <button class="btn btn-outline-primary" (click)="add()">
      <i class="fas fa-plus fa-1x"></i>
    </button>
  </div>
</div>
<br/>
<div class="card">
  <div class="card-header">
    <div class="row">
      <div class="col-md-10">
        <strong>Total : <span class="text-info">{{items.length}}</span></strong>
      </div>
      <div class="col-md-2 text-right">
        <button type="button" class="btn btn-outline-secondary btn-sm pull-right"
                (click)="refresh(false)">
          <i class="fas fa-sync"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="items">
    <table class="table table-sm xtable-bordered table-hover">
      <thead>
      <tr>
        <th scope="col" class="text-center" width="40">#</th>
        <th scope="col">Code</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col" width="150">Status</th>
        <th scope="col" width="40">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of items; index as i;">
        <td class="text-right">{{i+1}}</td>
        <td class="text-uppercase">{{item.code}}</td>
        <td class="text-capitalize">{{item.name}}</td>
        <td class="text-capitalize">{{item.type}}</td>
        <td>
          <span class="text-uppercase {{item.statusClazz}}">{{item.status}}</span>
        </td>
        <td class="text-center">
          <button class="btn btn-link btn-sm" (click)="view(item)">
            <i class="fas fa-eye"></i>
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
