<div class="row">
  <div class="col-md-2">
    <a class="btn btn-outline-secondary mt-2" routerLink="{{backLink}}">
      <i class="fas fa-arrow-circle-left fa-2x"></i>
    </a>
  </div>
  <div class="col-md-8 text-center">
    <h4 class="display-4 text-capitalize">{{item.name}}</h4>
  </div>
  <!--
  <div class="col-md-2 text-right">
    <a class="btn btn-outline-primary mt-2" routerLink="/merchant-list/{{item.id}}/view">
      <i class="fas fa-eye fa-2x"></i>
    </a>
  </div>
  -->
</div>

<form *ngIf="itemFg" [formGroup]="itemFg" (ngSubmit)="save()">
  <hr/>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label>Name <code>*</code></label>
        <input type="text" placeholder="Name" class="form-control"
               formControlName="name"/>
        <small *ngFor="let em of itemFg.controls.name['errorMessages']"
               class="form-text text-danger">{{em}}<br/>
        </small>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Price Per Month <code>*</code></label>
        <input type="text" placeholder="Price Per Month" class="form-control"
               formControlName="pricePerMonth"/>
        <small *ngFor="let em of itemFg.controls.pricePerMonth['errorMessages']"
               class="form-text text-danger">{{em}}<br/>
        </small>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label class="mb-2">Is It For Public? <code>*</code></label><br/>
        <div class="pretty p-default p-thick p-pulse mt-2">
          <input type="radio" formControlName="isItForPublic" value="yes"/>
          <div class="state p-success">
            <i class="icon mdi mdi-check"></i>
            <label class="text-success mr-3">Yes</label>
          </div>
        </div>
        <div class="pretty p-default p-thick p-pulse mt-2">
          <input type="radio" formControlName="isItForPublic" value="no"/>
          <div class="state p-warning-o">
            <label class="text-warning mr-3">No</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label>Description <code>*</code></label>
        <input type="text" placeholder="Description" class="form-control"
               formControlName="description"/>
        <small *ngFor="let em of itemFg.controls.description['errorMessages']"
               class="form-text text-danger">{{em}}<br/>
        </small>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label class="mb-2">Status <code>*</code></label><br/>
        <div class="pretty p-default p-thick p-pulse mt-2">
          <input type="radio" formControlName="status" value="active"/>
          <div class="state p-success">
            <i class="icon mdi mdi-check"></i>
            <label class="text-success mr-3">Active</label>
          </div>
        </div>
        <div class="pretty p-default p-thick p-pulse mt-2">
          <input type="radio" formControlName="status" value="inactive"/>
          <div class="state p-warning-o">
            <label class="text-warning mr-3">InActive</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <button type="button" class="btn btn-danger float-left"
              *ngIf="item.id > 0" (click)="remove()">
        <i class="fas fa-trash"></i></button>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary float-right">
        <i class="fas fa-save mr-2"></i>SAVE&nbsp;</button>
    </div>
  </div>
</form>

<div *ngIf="item.id">
  <h4 class="display-5 text-warning">Payment Methods</h4>
  <!--
  <div *ngIf="item.paymentMethods.length === 0">
    <br/>
    <div class="text-center">
      <h3 class="text-muted">There is no payment methods for this subscription!</h3>
    </div>
    <br/>
  </div>
  -->
  <div *ngFor="let paymentMethod of item.paymentMethods; index as i;">
    <hr/>
    <app-payment-method-edit [isEmbedded]="true" [subscriptionId]="item.id"
                             [paymentSettings]="paymentSettings" [item]="paymentMethod" [itemId]="i"
                             (onDelete)="removePaymentMethod($event)"></app-payment-method-edit>
  </div>
  <div class="text-center">
    <hr/>
    <button class="btn btn-outline-primary" (click)="add()">
      <i class="fas fa-plus fa-1x"></i>
    </button>
  </div>
</div>

<app-json-viewer [content]="item" *ngIf="env.mode === 'dev'"></app-json-viewer>

