<div class="modal-header">
  <h4 class="modal-title float-left text-capitalize">{{viewName}}</h4>
  <button type="button" class="close pull-right" aria-label="Close"
          (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="text-center" *ngIf="doc.type === 'image'">
    <img src="{{doc.srcUrl}}" width="400" height="400" alt="doc">
  </div>
  <div class="text-center" *ngIf="doc.type === 'pdf'">
      <a href="{{doc.srcUrl}}" target="_blank" class="btn btn-outline-info btn-lg">
        Since it's PDF Document, Click here to open in new Tab</a>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">Ok</button>
</div>
