<table mat-table [dataSource]="products" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> # </th>
    <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let item"> {{item.name}} </td>
  </ng-container>

  <ng-container matColumnDef="rate">
    <th class="text-right" mat-header-cell *matHeaderCellDef> Rate </th>
    <td class="text-right" mat-cell *matCellDef="let item"> {{item.rate | number:'1.2-2'}} </td>
  </ng-container>

  <ng-container matColumnDef="quantity">
    <th class="text-right" mat-header-cell *matHeaderCellDef> Stock </th>
    <td class="text-right" mat-cell *matCellDef="let item"> {{item.quantity | number:'1.0'}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th class="text-center" mat-header-cell *matHeaderCellDef> &nbsp; </th>
    <td class="text-center" mat-cell *matCellDef="let item">
      <button mat-button color="primary" (click)="addToCart(item)">Add To Cart</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="dColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: dColumns;"></tr>
</table>

<br/>
<div>
  <a mat-raised-button color="primary" [routerLink]="'/cart'">View Cart</a>
</div>

<!--
<ng-container matColumnDef="position">
  <th mat-header-cell *matHeaderCellDef mat-sort-header> Num. </th>
  <td mat-cell *matCellDef="let i = index">
  {{this.paginator.pageIndex == 0 ? i + 1 : 1 + i + this.paginator.pageIndex * this.paginator.pageSize}}
  </td>
</ng-container>
-->
