<div class="row">
  <div class="col-md-2">
    <a class="btn btn-outline-secondary mt-2" routerLink="/subscription-list">
      <i class="fas fa-arrow-circle-left fa-2x"></i>&nbsp;
    </a>
  </div>
  <div class="col-md-8 text-center" *ngIf="item">
    <h4 class="display-4 text-capitalize">{{item.name}}</h4>
  </div>
  <div class="col-md-2 text-right" *ngIf="item">
    <a class="btn btn-outline-primary mt-2" routerLink="/subscription-list/{{item.id}}/edit">
      <i class="fas fa-edit fa-2x"></i>
    </a>
  </div>
</div>
<hr/>

<div *ngIf="item">

  <div class="row mb-2">
    <div class="col-md-2 mb-1">
      <strong>Price Per Month</strong>
    </div>
    <div class="col-md-4 mb-1">
      <h4>{{item.pricePerMonth | number:'1.2-2'}}</h4>
    </div>
    <div class="col-md-2 mb-1">
      <strong>Description</strong>
    </div>
    <div class="col-md-4 mb-1 text-capitalize">
      <h4>{{item.description}}</h4>
    </div>
    <div class="col-md-2 mb-1">
      <strong>Is It For Public?</strong>
    </div>
    <div class="col-md-4 mb-1 text-capitalize">
      <h4>{{item.isItForPublic}}</h4>
    </div>
    <div class="col-md-2 mb-1">
      <strong>Status</strong>
    </div>
    <div class="col-md-4 mb-1">
      <h4 class="text-uppercase {{item.statusClazz}}">{{item.status}}</h4>
    </div>
    <div class="col-md-2 mb-1">
      <strong>Updated Time</strong>
    </div>
    <div class="col-md-4 mb-1">
      <h4>{{item.updatedTime | date :'medium'}}</h4>
    </div>
    <div class="col-md-2 mb-1">
      <strong>Created Time</strong>
    </div>
    <div class="col-md-4 mb-1">
      <h4>{{item.createdTime | date :'medium'}}</h4>
    </div>
  </div>

  <div *ngIf="item.paymentMethods">
    <h4 class="display-5 text-warning">Payment Methods</h4>
    <div *ngIf="item.paymentMethods.length === 0">
      <br/>
      <div class="text-center">
        <h3 class="text-muted">There is no payment methods for this subscription!</h3>
      </div>
      <br/>
    </div>
    <div *ngFor="let paymentMethod of item.paymentMethods; index as i;">
      <hr/>
      <app-payment-method-view [isEmbedded]="true" [item]="paymentMethod" [itemId]="i"></app-payment-method-view>
    </div>
  </div>

  <app-json-viewer [content]="item" *ngIf="env.mode === 'dev'"></app-json-viewer>

</div>

